{% extends "base.html" %}
{% load i18n admin_static %}

{% block pagestyle %}
    <link rel="stylesheet" href="/static/assets/css/pages/page_404_error.css">
{% endblock pagestyle %}

{% block content %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">404 Error</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">404 Error</li>
            </ul>
        </div> 
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">     
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">404</span>
                    <span>Ett fel uppstod</span>
                    <p>Sidan du letade efter kunde inte hittas</p>
                    <a class="btn-u btn-bordered" href="index.html">Till förstasidan</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>  
    <!--=== End Content Part ===-->

{% endblock %}
