{% extends "base.html" %}
{% load i18n admin_static %}

{% block title %}Bokning | Boka plats{% endblock %}

{% block pagestyle %}
    <link rel="stylesheet" href="/static/assets/css/pages/profile.css">
{% endblock %}

{% block content %}

    <!--=== Content Part ===-->
    <div class="container content profile">
        <div class="row">
            
            {% include "booking_sidebar.html" with type='overall' %}

            <div class="col-md-9">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="headline">
                                    <h3>Viktig Information om bokningen</h3>
                                </div>
                                <p>
                                    Här skall det stå lite kring hur betalning och vad som händer när man gör en bokning. Man skall också behöva bocka för att man accepterar våra användarvillkor och betal policy osv. Samt vi skall ge enekl information för hur det fungerar med återbetalningar osv.
                                </p>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-9">
                                <div class="headline">
                                    <h3>Foobar</h3>
                                </div>
                                <p>
                                    Efter att man har gjort allt ovan så skall man bli redirectad till payment lösningen (Stripe)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
